# Ignore everything:
*


# Allow specific files:
!.gitignore

!setup.py
!requirements.txt
!README.txt
!AUTHORS.txt
!LICENSE.txt

!etc/
!etc/morphforgerc.sample
!etc/morphforgerc.sample.x86_64
!etc/jenkins_config.xml


# Devscripts:
!devscripts/
!devscripts/MF_create_example_docs.py


# Some scripts needed for simulations
!src/
!src/bin/
!src/bin/SimulateBundle.py



# Import parts of mhlibs
!src/
!src/mhlibs/
!src/mhlibs/__init__.py

!src/mhlibs/quantities_plot/
!src/mhlibs/quantities_plot/__init__.py
!src/mhlibs/quantities_plot/quantities_plot_new.py
!src/mhlibs/scripttools/
!src/mhlibs/scripttools/__init__.py
!src/mhlibs/scripttools/plotmanager.py
!src/mhlibs/scripttools/simulationindextools.py
!src/mhlibs/scripttools/utils.py




!src/morphforge/
!src/morphforge/__init__.py

# Core package:
!src/morphforge/core/
!src/morphforge/core/mgrs/
!src/morphforge/core/mgrs/__init__.py
!src/morphforge/core/mgrs/locmgr.py
!src/morphforge/core/mgrs/logmgr.py
!src/morphforge/core/mgrs/rcmgr.py
!src/morphforge/core/mgrs/settingsmgr.py
!src/morphforge/core/__init__.py
!src/morphforge/core/mfrandom.py
!src/morphforge/core/monkey_patching.py
!src/morphforge/core/objectnumberer.py
!src/morphforge/core/plugindict.py
!src/morphforge/core/quantities/
!src/morphforge/core/quantities/__init__.py
!src/morphforge/core/quantities/common_neuroscience_defs.py
!src/morphforge/core/quantities/test_unit_reading.py
!src/morphforge/core/quantities/unit_string_lexer.py
!src/morphforge/core/quantities/unit_string_parser.py
!src/morphforge/core/quantities/fromcore.py
!src/morphforge/core/quantities/wrappers.py
!src/morphforge/core/misc.py


!src/morphforge/morphology/
!src/morphforge/morphology/builders
!src/morphforge/morphology/builders/__init__.py
!src/morphforge/morphology/builders/morphologybuilder.py
!src/morphforge/morphology/core/
!src/morphforge/morphology/core/__init__.py
!src/morphforge/morphology/core/base.py
!src/morphforge/morphology/core/tree.py
!src/morphforge/morphology/core/array.py
 src/morphforge/morphology/core/morphlocation.py
 src/morphforge/morphology/core/morphologyarray.py
 src/morphforge/morphology/core/morphologybase.py
!src/morphforge/morphology/core/morphologyconsistency.py
 src/morphforge/morphology/core/morphologytree.py
!src/morphforge/morphology/core/morphpath.py
 src/morphforge/morphology/core/region.py
 src/morphforge/morphology/core/section.py
!src/morphforge/morphology/md5/
!src/morphforge/morphology/md5/__init__.py
!src/morphforge/morphology/md5/md5calcs.py
!src/morphforge/morphology/ui/
!src/morphforge/morphology/ui/__init__.py
!src/morphforge/morphology/ui/matplotlibviewer.py
!src/morphforge/morphology/ui/mayavirenderer.py
!src/morphforge/morphology/ui/morphmaths.py
!src/morphforge/morphology/visitor/
!src/morphforge/morphology/visitor/__init__.py
!src/morphforge/morphology/visitor/morphologyoperators.py
!src/morphforge/morphology/visitor/visitorbaseclasses.py
!src/morphforge/morphology/visitor/visitorfactory.py
!src/morphforge/morphology/util/
!src/morphforge/morphology/util/__init__.py
!src/morphforge/morphology/util/morphlocator.py
!src/morphforge/morphology/conversion/
!src/morphforge/morphology/conversion/__init__.py
!src/morphforge/morphology/conversion/internal_representation_converter.py
!src/morphforge/morphology/conversion/region_to_int_bimap.py
!src/morphforge/morphology/errors/
!src/morphforge/morphology/errors/__init__.py
!src/morphforge/morphology/importer/
!src/morphforge/morphology/importer/__init__.py
!src/morphforge/morphology/importer/morphologyimporter.py
!src/morphforge/morphology/importer/import_tree_dictionary.py
!src/morphforge/morphology/importer/import_array_swc.py
!src/morphforge/morphology/exporter/
!src/morphforge/morphology/exporter/__init__.py
!src/morphforge/morphology/exporter/morphologyexporter.py
!src/morphforge/morphology/exporter/export_tree_swc.py
!src/morphforge/morphology/exporter/export_array_swc.py
!src/morphforge/morphology/conventions/
!src/morphforge/morphology/conventions/__init__.py
!src/morphforge/morphology/mesh/
!src/morphforge/morphology/mesh/__init__.py
!src/morphforge/morphology/mesh/builder_rings.py
!src/morphforge/morphology/mesh/mesh.py
!src/morphforge/morphology/mesh/util.py
!src/morphforge/morphology/mesh/writer_ply.py
!src/morphforge/morphology/__init__.py
!src/morphforge/morphology/comparison/
!src/morphforge/morphology/comparison/__init__.py
!src/morphforge/morphology/comparison/comparearrays.py

!src/morphforge/constants/
!src/morphforge/constants/__init__.py
!src/morphforge/constants/ions.py
!src/morphforge/constants/standardtags.py
!src/morphforge/constants/stdrecordables.py

!src/morphforge/traces/
!src/morphforge/traces/tags/
!src/morphforge/traces/tags/__init__.py
!src/morphforge/traces/tags/tagselector.py
!src/morphforge/traces/tags/tagselectorstringparser.py
!src/morphforge/traces/std_methods/
!src/morphforge/traces/std_methods/__init__.py
!src/morphforge/traces/std_methods/trace_methods_std.py
!src/morphforge/traces/std_methods/trace_methods_std_conversions.py
!src/morphforge/traces/std_methods/trace_methods_std_fft.py
!src/morphforge/traces/std_methods/trace_methods_std_filters.py
!src/morphforge/traces/std_methods/trace_methods_std_splicing.py
!src/morphforge/traces/std_methods/MMtrace_conversion.py
!src/morphforge/traces/std_methods/trace_methods_std_math.py
!src/morphforge/traces/std_operators/
!src/morphforge/traces/std_operators/__init__.py
!src/morphforge/traces/std_operators/op_fixeddt_fixeddt.py
!src/morphforge/traces/std_operators/op_fixeddt_scalar.py
!src/morphforge/traces/std_operators/op_variabledt_scalar.py
!src/morphforge/traces/std_operators/piecewise_scalar.py
!src/morphforge/traces/std_operators/variable_dt_rebasing.py
!src/morphforge/traces/tracetypes/
!src/morphforge/traces/tracetypes/__init__.py
!src/morphforge/traces/tracetypes/traceFixedDT.py
!src/morphforge/traces/tracetypes/tracePointBased.py
!src/morphforge/traces/tracetypes/traceVariableDT.py
!src/morphforge/traces/tracetypes/tracePiecewise.py
!src/morphforge/traces/io/
!src/morphforge/traces/io/__init__.py
!src/morphforge/traces/io/traceio.py
!src/morphforge/traces/io/fromcsv.py
!src/morphforge/traces/io/tocsv.py
!src/morphforge/traces/tagviewer/
!src/morphforge/traces/tagviewer/__init__.py
!src/morphforge/traces/tagviewer/post_ax_functors.py
!src/morphforge/traces/tagviewer/plotspecs.py
!src/morphforge/traces/tagviewer/tagviewer.py
!src/morphforge/traces/generation/
!src/morphforge/traces/generation/gen_parser_lexer.py
!src/morphforge/traces/generation/gen_parser_yacc.py
!src/morphforge/traces/generation/generator_parser.py
!src/morphforge/traces/__init__.py
!src/morphforge/traces/eventset.py
!src/morphforge/traces/linkage/
!src/morphforge/traces/linkage/__init__.py
!src/morphforge/traces/linkage/tracelinkage.py
!src/morphforge/traces/trace.py
!src/morphforge/traces/traceGenerator.py
!src/morphforge/traces/trace_operators_ctrl.py
!src/morphforge/traces/trace_methods_ctrl.py











!src/morphforge/simulation/
!src/morphforge/simulation/core/
!src/morphforge/simulation/core/biophysics/
!src/morphforge/simulation/core/biophysics/__init__.py
!src/morphforge/simulation/core/biophysics/cellbiophysics.py
!src/morphforge/simulation/core/biophysics/membranemechanism.py
!src/morphforge/simulation/core/biophysics/membranemechanismapplicators.py
!src/morphforge/simulation/core/biophysics/membranemechanismtargetters.py
!src/morphforge/simulation/core/biophysics/passiveproperties.py
!src/morphforge/simulation/core/networks/
!src/morphforge/simulation/core/networks/__init__.py
!src/morphforge/simulation/core/result/
!src/morphforge/simulation/core/result/__init__.py
!src/morphforge/simulation/core/result/simulationresult.py
!src/morphforge/simulation/core/result/simulationresultset.py
!src/morphforge/simulation/core/segmentation/
!src/morphforge/simulation/core/segmentation/__init__.py
!src/morphforge/simulation/core/segmentation/cellsegmenter.py
!src/morphforge/simulation/core/segmentation/segment.py
!src/morphforge/simulation/core/stimulation/
!src/morphforge/simulation/core/stimulation/__init__.py
!src/morphforge/simulation/core/stimulation/currentclamps.py
!src/morphforge/simulation/core/stimulation/stimulation.py
!src/morphforge/simulation/core/stimulation/voltageclamps.py
!src/morphforge/simulation/core/__init__.py
!src/morphforge/simulation/core/celllocation.py
!src/morphforge/simulation/core/recordable.py
!src/morphforge/simulation/core/simulation.py
!src/morphforge/simulation/core/simulationenvironment.py
!src/morphforge/simulation/core/cell.py
!src/morphforge/simulation/core/util/
!src/morphforge/simulation/core/util/__init__.py
!src/morphforge/simulation/core/util/celllocator.py
!src/morphforge/simulation/neuron/
!src/morphforge/simulation/neuron/biophysics/
!src/morphforge/simulation/neuron/biophysics/__init__.py
!src/morphforge/simulation/neuron/biophysics/mm_neuron.py
!src/morphforge/simulation/neuron/biophysics/modfile.py
!src/morphforge/simulation/neuron/biophysics/modfilecompiler.py
!src/morphforge/simulation/neuron/hocmodbuilders/
!src/morphforge/simulation/neuron/hocmodbuilders/__init__.py
!src/morphforge/simulation/neuron/hocmodbuilders/hocbuilder.py
!src/morphforge/simulation/neuron/hocmodbuilders/hocbuilder_cell.py
!src/morphforge/simulation/neuron/hocmodbuilders/hocmodutils.py
!src/morphforge/simulation/neuron/hocmodbuilders/modfilesectioned.py
!src/morphforge/simulation/neuron/hocmodbuilders/modfilewriterbase.py
!src/morphforge/simulation/neuron/objects/
!src/morphforge/simulation/neuron/objects/__init__.py
!src/morphforge/simulation/neuron/objects/neuronobject.py
!src/morphforge/simulation/neuron/objects/neuronrecordable.py
!src/morphforge/simulation/neuron/objects/obj_basesetup.py
!src/morphforge/simulation/neuron/objects/obj_cclamp.py
!src/morphforge/simulation/neuron/objects/obj_cell.py
!src/morphforge/simulation/neuron/objects/obj_vclamp.py
!src/morphforge/simulation/neuron/simulationdatacontainers/
!src/morphforge/simulation/neuron/simulationdatacontainers/__init__.py
!src/morphforge/simulation/neuron/simulationdatacontainers/mhocfile.py
!src/morphforge/simulation/neuron/simulationdatacontainers/mmodfileset.py
!src/morphforge/simulation/neuron/networks/
!src/morphforge/simulation/neuron/networks/__init__.py
!src/morphforge/simulation/neuron/__init__.py
!src/morphforge/simulation/neuron/neuronsimulation.py
!src/morphforge/simulation/neuron/neuronsimulationenvironment.py
!src/morphforge/simulation/neuron/settings.py
!src/morphforge/simulation/neuron/constants.py
!src/morphforge/simulation/neuron/neuronsimulationsettings.py
!src/morphforge/simulation/simulationmetadatabundle/
!src/morphforge/simulation/simulationmetadatabundle/builders
!src/morphforge/simulation/simulationmetadatabundle/builders/__init__.py
!src/morphforge/simulation/simulationmetadatabundle/builders/builders.py
!src/morphforge/simulation/simulationmetadatabundle/postsimulation/
!src/morphforge/simulation/simulationmetadatabundle/postsimulation/__init__.py
!src/morphforge/simulation/simulationmetadatabundle/postsimulation/postsimulationaction.py
!src/morphforge/simulation/simulationmetadatabundle/__init__.py
!src/morphforge/simulation/simulationmetadatabundle/simbundle.py
!src/morphforge/simulation/shortcuts/
!src/morphforge/simulation/shortcuts/__init__.py
!src/morphforge/simulation/__init__.py


!src/morphforge/componentlibraries/
!src/morphforge/componentlibraries/__init__.py
!src/morphforge/componentlibraries/builderbaseclass.py
!src/morphforge/componentlibraries/celllibrary.py
!src/morphforge/componentlibraries/channellibrary.py
!src/morphforge/componentlibraries/morphologylibrary.py



!src/morphforge/simulationanalysis/
!src/morphforge/simulationanalysis/summaries/
!src/morphforge/simulationanalysis/summaries/__init__.py
!src/morphforge/simulationanalysis/summaries/mmsummariser.py
!src/morphforge/simulationanalysis/summaries/reportlabconfig.py
!src/morphforge/simulationanalysis/summaries/stdlimits.py
!src/morphforge/simulationanalysis/summaries/summariser_library.py
!src/morphforge/simulationanalysis/summaries/simsummariser.py
!src/morphforge/simulationanalysis/__init__.py

!src/morphforge/stdimports/
!src/morphforge/stdimports/__init__.py



# Example scripts:
!src/morphforgeexamples/
!src/morphforgeexamples/Makefile
!src/morphforgeexamples/morphology/
!src/morphforgeexamples/morphology/__init__.py
!src/morphforgeexamples/morphology/morphology*.py
!src/morphforgeexamples/singlecell_simulation/
!src/morphforgeexamples/multicell_simulation/
!src/morphforgeexamples/singlecell_simulation/singlecell_simulation*.py
!src/morphforgeexamples/multicell_simulation/multicell_simulation*.py
!src/morphforgeexamples/advanced_examples/
!src/morphforgeexamples/advanced_examples/howto*
!src/morphforgeexamples/assorted/
!src/morphforgeexamples/assorted/assorted*

!Makefile
!src/morphforgeexamples/assorted/Makefile
!src/morphforgeexamples/advanced_examples/Makefile
!src/morphforgeexamples/morphology/Makefile
!src/morphforgeexamples/multicell_simulation/Makefile
!src/morphforgeexamples/singlecell_simulation/Makefile



# Test Data:
!src/test_data/
!src/test_data/test_mods/
!src/test_data/test_mods/exampleChannels3a.mod
!src/test_data/test_mods/exampleChannels3b.mod
!src/test_data/swc_srcs/
!src/test_data/swc_srcs/28o_spindle20aFI.CNG.swc



















#Documentation:
!/doc
!/doc/_static
!/doc/_templates
!doc/Makefile
!doc/srcs
!doc/srcs/examples
!doc/srcs/examples/examples.rst
!doc/srcs/morphforge_developer.rst
!doc/srcs/packages
!doc/srcs/packages/morphology.rst
!doc/srcs/packages/simulation.rst
!doc/srcs/packages/core.rst
!doc/srcs/packages/simulationanalysis.rst
!doc/srcs/packages/traces.rst
!doc/srcs/packages/componentlibraries.rst
!doc/srcs/packages/package_overview.rst
!doc/srcs/packages/package_morphforgecontrib.rst
!doc/srcs/installation.rst
!doc/srcs/morphforge_user.rst
!doc/img_srcs
!doc/img_srcs/morphology_overview.svg
!doc/img_srcs/morphology_overview_bio.svg
!doc/img_srcs/morphology_overview_simpledetails.svg
!doc/img_srcs/morphology_overview_simplecylinders.svg
!doc/img_srcs/morphology_overview_cylinderdetails.svg
!doc/conf.py
!doc/index.rst
!doc/srcs_generated_examples
!doc/srcs_generated_examples/images
!doc/srcs_generated_examples/images/*.png
!doc/srcs_generated_examples/*.rst
!doc/srcs/morphforgerc.rst
!doc/srcs/packages/package_morphforge.rst
!doc/srcs/ref/
!doc/srcs/ref/*.rst
!doc/srcs/tests/
!doc/srcs/tests/*.rst






#morphforgecontrib.hh_style channels:
!src/morphforgecontrib/
!src/morphforgecontrib/__init__.py
!src/morphforgecontrib/simulation/
!src/morphforgecontrib/simulation/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/

!src/morphforgecontrib/simulation/membranemechanisms/common/
!src/morphforgecontrib/simulation/membranemechanisms/common/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/common/neuron.py

!src/morphforgecontrib/simulation/membranemechanisms/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/core/
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/core/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/core/mmalphabeta.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/core/mmalphabetabeta.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/core/mmleak.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/hocmodbuilders/
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/hocmodbuilders/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/hocmodbuilders/mmwriter_alphabetabeta.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/hocmodbuilders/mmwriter_leak.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/hocmodbuilders/mmwriter_alphabeta.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/mm_neuron_alphabeta.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/mm_neuron_alphabetabeta.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/neuron/mm_neuron_leak.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/summarisers/
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/summarisers/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/summarisers/mmleak.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/summarisers/mmalphabeta.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/summarisers/mmalphabetabeta.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/summarisers/util.py
!src/morphforgecontrib/simulation/membranemechanisms/hh_style/__init__.py


# morphforgecontrib.neuron channels
!src/morphforgecontrib/simulation/membranemechanisms/exisitingmodfile/
!src/morphforgecontrib/simulation/membranemechanisms/exisitingmodfile/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/exisitingmodfile/core.py
!src/morphforgecontrib/simulation/membranemechanisms/exisitingmodfile/neuron.py


!src/morphforgecontrib/simulation/membranemechanisms/simulatorbuiltin/
!src/morphforgecontrib/simulation/membranemechanisms/simulatorbuiltin/__init__.py
!src/morphforgecontrib/simulation/membranemechanisms/simulatorbuiltin/sim_builtin_core.py
!src/morphforgecontrib/simulation/membranemechanisms/simulatorbuiltin/sim_builtin_neuron.py

# morphforgecontrib.morphology
!src/morphforgecontrib/morphology/
!src/morphforgecontrib/morphology/__init__.py
!src/morphforgecontrib/morphology/util/
!src/morphforgecontrib/morphology/util/__init__.py
!src/morphforgecontrib/morphology/util/util.py
!src/morphforgecontrib/morphology/util/axontrimmer.py
!src/morphforgecontrib/morphology/util/morphologytranslator.py





