# Ignore everything:
*


# Allow specific files:
!.gitignore


# Import parts of mhlibs
!src/
!src/mhlibs/
!src/mhlibs/__init__.py

!src/mhlibs/quantities_plot/
!src/mhlibs/quantities_plot/__init__.py
!src/mhlibs/quantities_plot/quantities_plot_new.py
!src/mhlibs/scripttools/
!src/mhlibs/scripttools/__init__.py
!src/mhlibs/scripttools/plotmanager.py
!src/mhlibs/scripttools/simulationindextools.py
!src/mhlibs/scripttools/utils.py




!src/morphforge/
!src/morphforge/__init__.py

# Core package:
!src/morphforge/core/
!src/morphforge/core/mgrs/
!src/morphforge/core/mgrs/__init__.py
!src/morphforge/core/mgrs/locmgr.py
!src/morphforge/core/mgrs/logmgr.py
!src/morphforge/core/mgrs/rcmgr.py
!src/morphforge/core/mgrs/settingsmgr.py
!src/morphforge/core/__init__.py
!src/morphforge/core/mfrandom.py
!src/morphforge/core/monkey_patching.py
!src/morphforge/core/objectnumberer.py
!src/morphforge/core/plugindict.py
!src/morphforge/core/quantities/
!src/morphforge/core/quantities/__init__.py
!src/morphforge/core/quantities/common_neuroscience_defs.py
!src/morphforge/core/quantities/test_unit_reading.py
!src/morphforge/core/quantities/unit_string_lexer.py
!src/morphforge/core/quantities/unit_string_parser.py
!src/morphforge/core/quantities/fromcore.py
!src/morphforge/core/quantities/wrappers.py
!src/morphforge/core/misc.py


!src/morphforge/morphology/
!src/morphforge/morphology/builders
!src/morphforge/morphology/builders/__init__.py
!src/morphforge/morphology/builders/morphologybuilder.py
!src/morphforge/morphology/core/
!src/morphforge/morphology/core/__init__.py
!src/morphforge/morphology/core/morphlocation.py
!src/morphforge/morphology/core/morphologyarray.py
!src/morphforge/morphology/core/morphologybase.py
!src/morphforge/morphology/core/morphologyconsistency.py
!src/morphforge/morphology/core/morphologytree.py
!src/morphforge/morphology/core/morphpath.py
!src/morphforge/morphology/core/region.py
!src/morphforge/morphology/core/section.py
!src/morphforge/morphology/md5/
!src/morphforge/morphology/md5/__init__.py
!src/morphforge/morphology/md5/md5calcs.py
!src/morphforge/morphology/ui/
!src/morphforge/morphology/ui/__init__.py
!src/morphforge/morphology/ui/matplotlibviewer.py
!src/morphforge/morphology/ui/mayavirenderer.py
!src/morphforge/morphology/ui/morphmaths.py
!src/morphforge/morphology/visitor/
!src/morphforge/morphology/visitor/__init__.py
!src/morphforge/morphology/visitor/morphologyoperators.py
!src/morphforge/morphology/visitor/visitorbaseclasses.py
!src/morphforge/morphology/visitor/visitorfactory.py
!src/morphforge/morphology/util/
!src/morphforge/morphology/util/__init__.py
!src/morphforge/morphology/util/morphlocator.py
!src/morphforge/morphology/conversion/
!src/morphforge/morphology/conversion/__init__.py
!src/morphforge/morphology/conversion/internal_representation_converter.py
!src/morphforge/morphology/conversion/region_to_int_bimap.py
!src/morphforge/morphology/errors/
!src/morphforge/morphology/errors/__init__.py
!src/morphforge/morphology/importer/
!src/morphforge/morphology/importer/__init__.py
!src/morphforge/morphology/importer/morphologyimporter.py
!src/morphforge/morphology/importer/import_tree_dictionary.py
!src/morphforge/morphology/importer/import_array_swc.py
!src/morphforge/morphology/exporter/
!src/morphforge/morphology/exporter/__init__.py
!src/morphforge/morphology/exporter/morphologyexporter.py
!src/morphforge/morphology/exporter/export_tree_swc.py
!src/morphforge/morphology/exporter/export_array_swc.py
!src/morphforge/morphology/conventions/
!src/morphforge/morphology/conventions/__init__.py
!src/morphforge/morphology/mesh/
!src/morphforge/morphology/mesh/__init__.py
!src/morphforge/morphology/mesh/builder_rings.py
!src/morphforge/morphology/mesh/mesh.py
!src/morphforge/morphology/mesh/util.py
!src/morphforge/morphology/mesh/writer_ply.py
!src/morphforge/morphology/__init__.py
!src/morphforge/morphology/comparison/
!src/morphforge/morphology/comparison/__init__.py
!src/morphforge/morphology/comparison/comparearrays.py

#morphforge/constants/__init__.py
#morphforge/constants/ions.py
#morphforge/constants/standardtags.py
#morphforge/constants/stdrecordables.py
#
#morphforge/traces/tags/__init__.py
#morphforge/traces/tags/tagselector.py
#morphforge/traces/tags/tagselectorstringparser.py
#morphforge/traces/std_methods/__init__.py
#morphforge/traces/std_methods/trace_methods_std.py
#morphforge/traces/std_methods/trace_methods_std_conversions.py
#morphforge/traces/std_methods/trace_methods_std_fft.py
#morphforge/traces/std_methods/trace_methods_std_filters.py
#morphforge/traces/std_methods/trace_methods_std_splicing.py
#morphforge/traces/std_methods/MMtrace_conversion.py
#morphforge/traces/std_methods/trace_methods_std_math.py
#morphforge/traces/std_operators/__init__.py
#morphforge/traces/std_operators/op_fixeddt_fixeddt.py
#morphforge/traces/std_operators/op_fixeddt_scalar.py
#morphforge/traces/std_operators/op_variabledt_scalar.py
#morphforge/traces/std_operators/piecewise_scalar.py
#morphforge/traces/std_operators/variable_dt_rebasing.py
#morphforge/traces/tracetypes/__init__.py
#morphforge/traces/tracetypes/traceFixedDT.py
#morphforge/traces/tracetypes/tracePointBased.py
#morphforge/traces/tracetypes/traceVariableDT.py
#morphforge/traces/tracetypes/tracePiecewise.py
#morphforge/traces/io/__init__.py
#morphforge/traces/io/traceio.py
#morphforge/traces/io/fromcsv.py
#morphforge/traces/io/test.py
#morphforge/traces/io/tocsv.py
#morphforge/traces/tagviewer/__init__.py
#morphforge/traces/tagviewer/post_ax_functors.py
#morphforge/traces/tagviewer/plotspecs.py
#morphforge/traces/tagviewer/tagviewer.py
#morphforge/traces/generation/gen_parser_lexer.py
#morphforge/traces/generation/gen_parser_yacc.py
#morphforge/traces/generation/generator_parser.py
#morphforge/traces/__init__.py
#morphforge/traces/eventset.py
#morphforge/traces/linkage/__init__.py
#morphforge/traces/linkage/tracelinkage.py
#morphforge/traces/trace.py
#morphforge/traces/traceGenerator.py
#morphforge/traces/trace_operators_ctrl.py
#morphforge/traces/trace_methods_ctrl.py
#
#
#
#
#
#
#
#
#
#morphforge/simulation/core/biophysics/__init__.py
#morphforge/simulation/core/biophysics/cellbiophysics.py
#morphforge/simulation/core/biophysics/membranemechanism.py
#morphforge/simulation/core/biophysics/membranemechanismapplicators.py
#morphforge/simulation/core/biophysics/membranemechanismtargetters.py
#morphforge/simulation/core/biophysics/passiveproperties.py
#morphforge/simulation/core/networks/__init__.py
#morphforge/simulation/core/result/__init__.py
#morphforge/simulation/core/result/simulationresult.py
#morphforge/simulation/core/result/simulationresultset.py
#morphforge/simulation/core/segmentation/__init__.py
#morphforge/simulation/core/segmentation/cellsegmenter.py
#morphforge/simulation/core/segmentation/segment.py
#morphforge/simulation/core/stimulation/__init__.py
#morphforge/simulation/core/stimulation/currentclamps.py
#morphforge/simulation/core/stimulation/stimulation.py
#morphforge/simulation/core/stimulation/voltageclamps.py
#morphforge/simulation/core/__init__.py
#morphforge/simulation/core/celllocation.py
#morphforge/simulation/core/recordable.py
#morphforge/simulation/core/simulation.py
#morphforge/simulation/core/simulationenvironment.py
#morphforge/simulation/core/cell.py
#morphforge/simulation/neuron/biophysics/__init__.py
#morphforge/simulation/neuron/biophysics/mm_neuron.py
#morphforge/simulation/neuron/biophysics/modfile.py
#morphforge/simulation/neuron/biophysics/modfilecompiler.py
#morphforge/simulation/neuron/hocmodbuilders/__init__.py
#morphforge/simulation/neuron/hocmodbuilders/hocbuilder.py
#morphforge/simulation/neuron/hocmodbuilders/hocbuilder_cell.py
#morphforge/simulation/neuron/hocmodbuilders/hocmodutils.py
#morphforge/simulation/neuron/hocmodbuilders/modfilesectioned.py
#morphforge/simulation/neuron/hocmodbuilders/modfilewriterbase.py
#morphforge/simulation/neuron/objects/__init__.py
#morphforge/simulation/neuron/objects/neuronobject.py
#morphforge/simulation/neuron/objects/neuronrecordable.py
#morphforge/simulation/neuron/objects/obj_basesetup.py
#morphforge/simulation/neuron/objects/obj_cclamp.py
#morphforge/simulation/neuron/objects/obj_cell.py
#morphforge/simulation/neuron/objects/obj_vclamp.py
#morphforge/simulation/neuron/simulationdatacontainers/__init__.py
#morphforge/simulation/neuron/simulationdatacontainers/mhocfile.py
#morphforge/simulation/neuron/simulationdatacontainers/mmodfileset.py
#morphforge/simulation/neuron/networks/__init__.py
#morphforge/simulation/neuron/__init__.py
#morphforge/simulation/neuron/neuronsimulation.py
#morphforge/simulation/neuron/neuronsimulationenvironment.py
#morphforge/simulation/neuron/settings.py
#morphforge/simulation/neuron/constants.py
#morphforge/simulation/neuron/neuronsimulationsettings.py
#morphforge/simulation/simulationmetadatabundle/builders/__init__.py
#morphforge/simulation/simulationmetadatabundle/builders/builders.py
#morphforge/simulation/simulationmetadatabundle/postsimulation/__init__.py
#morphforge/simulation/simulationmetadatabundle/postsimulation/postsimulationaction.py
#morphforge/simulation/simulationmetadatabundle/__init__.py
#morphforge/simulation/simulationmetadatabundle/simbundle.py
#morphforge/simulation/shortcuts/__init__.py
#morphforge/simulation/__init__.py
#morphforge/simulationanalysis/summaries/__init__.py
#morphforge/simulationanalysis/summaries/mmsummariser.py
#morphforge/simulationanalysis/summaries/reportlabconfig.py
#morphforge/simulationanalysis/summaries/stdlimits.py
#morphforge/simulationanalysis/summaries/summariser_library.py
#morphforge/simulationanalysis/summaries/simsummariser.py
#morphforge/simulationanalysis/viewers/mayavi2/__init__.py
#morphforge/simulationanalysis/viewers/mayavi2/mayavi2viewer.py
#morphforge/simulationanalysis/viewers/__init__.py
#morphforge/simulationanalysis/__init__.py

