
{% extends "base.html" %}
{% block contents %}


<div class="section">
<h1> Simulation Locations </h1>
<table>
  <tr>
    <th>Location</th>
  </tr>

  {% for potential_directory in potential_directories %}
  <tr>
    <td> {{potential_directory.directory_name }} </td>
    <td> {{potential_directory.does_exist }} </td>
  </tr>
  {% endfor %}
</table>
</div>


<div class="section">
<h1> Add Location </h1>

<form action="/do/addpotentialsimulationlocation" method="post">
{% csrf_token %}
  <input type="text" name="location" />
  <input type="submit" value="Add Location" />
</form>
</div>


<div class="section">
<h1> Potential Simulation Files </h1>
<a href="/do/update_potential_simulation_files">Update Potential Simulation Files</a>




<form action="/do/potential_to_actual_simulation" method="post">
{% csrf_token %}
<input type="submit" value="Add all Potential Simulation Files"/>
{% for potentialfile in potentialsimulationfiles %}
  <input type="hidden" name="potentialsimid_{{potentialfile.id}}"> </td>
{%endfor %}
</form>



<form action="/do/potential_to_actual_simulation" method="post">
{% csrf_token %}

<table >
  <tr>
    <th>  </th>
    <th> Filename </th>
  </tr>

  {% for potentialfile in potentialsimulationfiles %}
  <tr>
    <td> <input type="checkbox" name="potentialsimid_{{potentialfile.id}}"> </td>
    <td> {{potentialfile.full_filename}} </td>
  </tr>
  {%endfor %}
</table>
<input type="submit" value="Add To Simulation List"/>
</form>
</div>

{% endblock %}
