{% extends "base.html" %}


{% block contents %}



<h1> Last Run Information </h1>

<div class="section">
  <div class="{{ simulationrun.get_status}}" >
<h2>Simulation Run </h2>

<table class="details">

  <tr><th>File:</th> <td><a href="/do/editsimulationfile/{{simulationfile.id }}">{{simulationfile.full_filename }}</a></td></tr>
<tr><th>Description: </th> <td>{{simulationfile.get_description }}</td></tr>
<tr><th>When: </th> <td>{{simulationfile.get_latest_run.execution_date }}</td></tr>
<tr><th>Time: </th> <td>{{simulationrun.get_latest_run.execution_time }} seconds</td></tr>
<tr><th>Status: </th> <td>{{simulationfile.get_status }} </td></tr>
</table>

<table>
<tr><th>Return Code: </th> <td>{{simulationfile.get_latest_run.return_code }}</td></tr>
<tr><th>Exception: </th> <td>{{simulationfile.get_latest_run.exception_type }}</td></tr>
</table>


<table>
  <tr><th>SimFile MD5: </th> <td>{{simulationfile.get_latest_run.simulation_md5sum }} 
      (Now: {{simulationfile.get_current_checksum}})</td></tr>
<tr><th>Lib MD5: </th> <td>{{simulationfile.get_latest_run.library_md5sum }}</td></tr>
</table>

<a href="/simulationfileruns/{{simulationfile.get_latest_run.id}}">More details about last run...</a>
</div>
</div>

<h1> File Contents </h1>
{{simulationfile.get_html_code|safe}}



{% endblock %}

