


{% extends "base.html" %}


{% block postbody %}

    <script type="text/javascript">
    <!-- 
    function pageInit(){
        countdown_callback()
    }

    window.onload = pageInit
    -->
    </script>

{% endblock  %}






{% block additional_header %}
<script type="text/javascript">
<!-- 

// Dajax callback functions:
function pass(data){
    //alert(data.message);
}


// Scripts local to this page:
function refresh_sim_list_view() {
    {% for sim_file in simulation_files %}
    {%if sim_file.doesFileExist %}
    updateSimGUI({{sim_file.id}})
    {% endif %}
    {% endfor %}
}


function setSimFileStatus(id,state, is_in_queue)
{
    var is_in_queue_str = "SimulationNotQueued"
    if(is_in_queue == true){
        is_in_queue_str = "SimulationQueued"
    }
        

    // Set the class, for coloring:
    document.getElementById('SimFileID'+id).className = state + " " + is_in_queue_str;
    document.getElementById( "SimFileTDStatus"+id ).innerHTML = state
    
    var textTD = document.getElementById('SimFileID'+id).getElementsByTagName('a')[0];
    if( is_in_queue )
    {
        textTD.innerHTML = 'Cancel';
    }
    else
    {
        textTD.innerHTML = 'Run';
    }

}

function clearSimQueueCallback()
{
    refresh_sim_list_view();
}

function clearSimQueue()
{    
    Dajaxice.sm1.clearSimQueue(clearSimQueueCallback); 
}

function toggleSimForResubmit(id)
{
    Dajaxice.sm1.toggleSimulationFileForResubmit(pass, {'simulation_file_id':id}); 
}



function resubmitAllSims()
{

    {% for sim_file in simulation_files %}
    {%if sim_file.doesFileExist %}
    Dajaxice.sm1.setSimulationFileForResubmit(pass, {'simulation_file_id':{{sim_file.id}} }); 
    updateSimGUI({{sim_file.id}})
    {% endif %}
    {% endfor %}

    
}

function resubmitAllFailures()
{

    {% for sim_file in simulation_files %}
    {%if sim_file.doesFileExist %}
        Dajaxice.sm1.setSimulationFileForResubmitIfFailure(pass, {'simulation_file_id':{{sim_file.id}} }); 
        updateSimGUI({{sim_file.id}})
    {%endif %}
    {% endfor %}
}

function updateSimGUICallback(data)
{
    var id = data.sim_id;
    var state = data.state
    var queued = data.is_queued

    setSimFileStatus(id, state, queued)

    // Update the Last Run Info and hrefs:
    var node = document.getElementById("SimFileLatestRun"+id)
    node.innerHTML =  data.latest_exec_date
    node.href =  "simulationfileruns/" + data.latest_exec_id
}

function updateSimGUI(sim_id)
{
    Dajaxice.sm1.updateSimGui(updateSimGUICallback, {'simulation_file_id':sim_id}); 
}



function clickResubmitButton( sim_id )
{
    toggleSimForResubmit(sim_id);
    updateSimGUI(sim_id);
}


function reloadPage()
{
    window.location="/";
}

function deleteSimulationFile(id)
{
    Dajaxice.sm1.deleteSimulationFile(reloadPage, {'simulation_file_id': id}); 
}


function deleteNonExistantFiles()
{
    {% for sim_file in simulation_files %}
    {%if not sim_file.doesFileExist %}
    Dajaxice.sm1.deleteSimulationFile(pass, {'simulation_file_id': {{sim_file.id}} } ); 
    {% endif %}
    {% endfor %}
    
    reloadPage();

}


var timeOut = 5;
var time = 0;
function countdown_callback(){
    
    document.getElementById( "idUpdateBox" ).innerHTML = "Updating in " 
    
    if(time ==0){
        time = timeOut;
        refresh_sim_list_view();
    }
    else{
        time = time -1;
        document.getElementById( "idUpdateBox" ).innerHTML = "Updating in " + time
    }
    setTimeout("countdown_callback()", 1000);
}




-->
</script>
{% endblock %}





{% block contents %}



<div class='menu'>
<ul>
<li><a onclick="resubmitAllSims()"  > Submit All</a></li>
<li><a onclick="resubmitAllFailures()"  > Submit All Failures</a></li>
<li><a onclick="clearSimQueue();"  > Clear Submission Queue</a></li>
<li><a onclick="deleteNonExistantFiles();"  > Delete Non-existant Files</a></li>
<li><a onclick="refresh_sim_list_view()" id='idUpdateBox' > Update</a> </li>
</ul>
</div>








<div class='simulationlist'>
    <H2>Results</H2>

    <table>
        <tbody>

        <tr>
          <th> Resimulate</th>
          <th> Status </th>
          <th> File </th>
          <th> Last Run </th>
          <th> Description </th>
        </tr>


        {% for sim_file in simulation_files %}

        {% if sim_file.doesFileExist %}
        <tr class="" id="SimFileID{{sim_file.id}}">
            <td class="Toggle"> <a onclick="clickResubmitButton({{sim_file.id}})" > -- </a>  </td>
            <td class="Status" id="SimFileTDStatus{{sim_file.id}}"> {{ sim_file.get_status }} </td>
            <td> <a href="/simulationfiles/{{sim_file.id}}"> {{sim_file.get_short_filename }} </a> </td>
            <td> <a id="SimFileLatestRun{{sim_file.id}}" href="/simulationfileruns/{{sim_file.get_latest_run.id}}">{{sim_file.get_latest_run.execution_date}} </a></td>
            <td> {{sim_file.get_description}} </td>
        </tr>

        {% else %}
        <tr class="" id="SimFileID{{sim_file.id}}">
            <td class="Toggle"> <a onclick='deleteSimulationFile({{sim_file.id}});'> Delete </a>  </td>
            <td class="Status"> <a>  [File does not exist] </a> </td>
            <td> <a> {{sim_file.get_short_filename }} </a> </td>
            <td> <a> </a></td>
            <td> </td>
        </tr>
        {% endif %}


        {% endfor %}

        </tbody>
    </table>
</div>



<div id='SearchBox'>
    <H2>Search</H2>
</div >


{% endblock %}

