{% extends "base.html" %}


{% block contents %}

<META HTTP-EQUIV="REFRESH" CONTENT="20">







<!-- A horrible copy and paste job! -->








<div class=section>
  <h1> Failed Simulations </h1>
<form action='/do/queuesimulations/' method='post'>
{% csrf_token %}
<table>

<tr>
  <th/>
  <th> File </th>
  <th> Last Run </th>
  <th> Result </th>
  <th> Description </th>
</tr>


{% csrf_token %} 
{% for sim_file in failed_simulations %}
<tr class="{{ sim_file.get_status}}">
    <td> <input type="checkbox" name="simid_{{sim_file.id}}"/> </td>
    <td> <a href="/simulationfiles/{{sim_file.id}}"> {{sim_file.get_short_filename }} </a> </td>
    <td> <a href="/simulationfileruns/{{sim_file.get_latest_run.id}}">{{sim_file.get_latest_run.execution_date}} </td>
    <td> {{sim_file.get_latest_run.get_status}} </td>
    <td> {{sim_file.get_description}} </td>
</tr>
{% endfor %}

</table>
<input type="submit" value="Add to Simulation Queue"/>
</form>
</div>














<div class=section>
  <h1> Timeout Simulations </h1>
<form action='/do/queuesimulations/' method='post'>
{% csrf_token %}
<table>

<tr>
  <th/>
  <th> File </th>
  <th> Last Run </th>
  <th> Result </th>
  <th> Description </th>
</tr>


{% csrf_token %} 
{% for sim_file in timeout_simulations %}
<tr class="{{ sim_file.get_status}}">
    <td> <input type="checkbox" name="simid_{{sim_file.id}}"/> </td>
    <td> <a href="/simulationfiles/{{sim_file.id}}"> {{sim_file.get_short_filename }} </a> </td>
    <td> <a href="/simulationfileruns/{{sim_file.get_latest_run.id}}">{{sim_file.get_latest_run.execution_date}} </td>
    <td> {{sim_file.get_latest_run.get_status}} </td>
    <td> {{sim_file.get_description}} </td>
</tr>
{% endfor %}

</table>
<input type="submit" value="Add to Simulation Queue"/>
</form>
</div>





















<div class=section>
  <h1> NonZero Simulations </h1>
<form action='/do/queuesimulations/' method='post'>
{% csrf_token %}
<table>

<tr>
  <th/>
  <th> File </th>
  <th> Last Run </th>
  <th> Result </th>
  <th> Description </th>
</tr>


{% csrf_token %} 
{% for sim_file in nonzero_exitcode_simulations %}
<tr class="{{ sim_file.get_status}}">
    <td> <input type="checkbox" name="simid_{{sim_file.id}}"/> </td>
    <td> <a href="/simulationfiles/{{sim_file.id}}"> {{sim_file.get_short_filename }} </a> </td>
    <td> <a href="/simulationfileruns/{{sim_file.get_latest_run.id}}">{{sim_file.get_latest_run.execution_date}} </td>
    <td> {{sim_file.get_latest_run.get_status}} </td>
    <td> {{sim_file.get_description}} </td>
</tr>
{% endfor %}

</table>
<input type="submit" value="Add to Simulation Queue"/>
</form>
</div>
























<div class=section>
  <h1> Changed Simulations </h1>
<form action='/do/queuesimulations/' method='post'>
{% csrf_token %}
<table>

<tr>
  <th/>
  <th> File </th>
  <th> Last Run </th>
  <th> Result </th>
  <th> Description </th>
</tr>


{% csrf_token %} 
{% for sim_file in changed_simulations %}
<tr class="{{ sim_file.get_status}}">
    <td> <input type="checkbox" name="simid_{{sim_file.id}}"/> </td>
    <td> <a href="/simulationfiles/{{sim_file.id}}"> {{sim_file.get_short_filename }} </a> </td>
    <td> <a href="/simulationfileruns/{{sim_file.get_latest_run.id}}">{{sim_file.get_latest_run.execution_date}} </td>
    <td> {{sim_file.get_latest_run.get_status}} </td>
    <td> {{sim_file.get_description}} </td>
</tr>
{% endfor %}

</table>
<input type="submit" value="Add to Simulation Queue"/>
</form>
</div>
















<div class=section>
  <h1> Not Run Simulations </h1>
<form action='/do/queuesimulations/' method='post'>
{% csrf_token %}
<table>

<tr>
  <th/>
  <th> File </th>
  <th> Last Run </th>
  <th> Result </th>
  <th> Description </th>
</tr>


{% csrf_token %} 
{% for sim_file in notrun_simulations %}
<tr class="{{ sim_file.get_status}}">
    <td> <input type="checkbox" name="simid_{{sim_file.id}}"/> </td>
    <td> <a href="/simulationfiles/{{sim_file.id}}"> {{sim_file.get_short_filename }} </a> </td>
    <td> <a href="/simulationfileruns/{{sim_file.get_latest_run.id}}">{{sim_file.get_latest_run.execution_date}} </td>
    <td> {{sim_file.get_latest_run.get_status}} </td>
    <td> {{sim_file.get_description}} </td>
</tr>
{% endfor %}

</table>
<input type="submit" value="Add to Simulation Queue"/>
</form>
</div>


















{% endblock %}

